/*
	Default font templates supported by the WebClient.

	These can be used (in code) by simply creating a FontString with the given template name.
	The functionality is inspired by the World of Warcraft client, but utilizes standard CSS/JavaScript APIs.
	See https://wow.gamepedia.com/UIOBJECT_Font for more details on the concept of font instances/templates */

.GameFontSmallest {
    font-family: GameFont;
    font-size: var(--font-size-smallest);
}

.GameFontSmaller {
    font-family: GameFont;
    font-size: var(--font-size-smaller);
}

.GameFontSmall {
    font-family: GameFont;
    font-size: var(--font-size-small);
}

.GameFontNormal {
    font-family: GameFont;
    font-size: var(--font-size-normal);
}

.GameFontLarge {
    font-family: GameFont;
    font-size: var(--font-size-large);
}

.GameFontLarger {
    font-family: GameFont;
    font-size: var(--font-size-larger);
}

.GameFontLargest {
    font-family: GameFont;
    font-size: var(--font-size-largest);
}

.GameFontHuge {
    font-family: GameFont;
    font-size: var(--font-size-huge);
}

.BoldFontSmallest {
    font-family: BoldFont;
    font-size: var(--font-size-smallest);
}

.BoldFontSmaller {
    font-family: BoldFont;
    font-size: var(--font-size-smaller);
}

.BoldFontSmall {
    font-family: BoldFont;
    font-size: var(--font-size-small);
}

.BoldFontNormal {
    font-family: BoldFont;
    font-size: var(--font-size-normal);
}

.BoldFontLarge {
    font-family: BoldFont;
    font-size: var(--font-size-large);
}

.BoldFontLarger {
    font-family: BoldFont;
    font-size: var(--font-size-larger);
}

.BoldFontLargest {
    font-family: BoldFont;
    font-size: var(--font-size-largest);
}

.BoldFontHuge {
    font-family: BoldFont;
    font-size: var(--font-size-huge);
}

.TitleFontSmallest {
    font-family: TitleFont;
    font-size: var(--font-size-smallest);
}

.TitleFontSmaller {
    font-family: TitleFont;
    font-size: var(--font-size-smaller);
}

.TitleFontSmall {
    font-family: TitleFont;
    font-size: var(--font-size-small);
}

.TitleFontNormal {
    font-family: TitleFont;
    font-size: var(--font-size-normal);
}

.TitleFontLarge {
    font-family: TitleFont;
    font-size: var(--font-size-large);
}

.TitleFontLarger {
    font-family: TitleFont;
    font-size: var(--font-size-larger);
}

.TitleFontLargest {
    font-family: TitleFont;
    font-size: var(--font-size-largest);
}

.TitleFontHuge {
    font-family: TitleFont;
    font-size: var(--font-size-huge);
}

.CaptionFontSmallest {
    font-family: CaptionFont;
    font-size: var(--font-size-smallest);
}

.CaptionFontSmaller {
    font-family: CaptionFont;
    font-size: var(--font-size-smaller);
}

.CaptionFontSmall {
    font-family: CaptionFont;
    font-size: var(--font-size-small);
}

.CaptionFontNormal {
    font-family: CaptionFont;
    font-size: var(--font-size-normal);
}

.CaptionFontLarge {
    font-family: CaptionFont;
    font-size: var(--font-size-large);
}

.CaptionFontLarger {
    font-family: CaptionFont;
    font-size: var(--font-size-larger);
}

.CaptionFontLargest {
    font-family: CaptionFont;
    font-size: var(--font-size-largest);
}

.CaptionFontHuge {
    font-family: CaptionFont;
    font-size: var(--font-size-huge);
}

.ScriptFontSmallest {
    font-family: ScriptFont;
    font-size: var(--font-size-smallest);
}

.ScriptFontSmaller {
    font-family: ScriptFont;
    font-size: var(--font-size-smaller);
}

.ScriptFontSmall {
    font-family: ScriptFont;
    font-size: var(--font-size-small);
}

.ScriptFontNormal {
    font-family: ScriptFont;
    font-size: var(--font-size-normal);
}

.ScriptFontLarge {
    font-family: ScriptFont;
    font-size: var(--font-size-large);
}

.ScriptFontLarger {
    font-family: ScriptFont;
    font-size: var(--font-size-larger);
}

.ScriptFontLargest {
    font-family: ScriptFont;
    font-size: var(--font-size-largest);
}

.ScriptFontHuge {
    font-family: ScriptFont;
    font-size: var(--font-size-huge);
}