textarea {
	background-color: #FFFFFF;
	border-top: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	border-left: 2px solid #C3C3C3;
	border-right: 2px solid #C3C3C3;
	border-radius: 5px;
	padding: 5px;
}

textarea:disabled {
	background-color: #E8E8E8;
}