textarea {
	background-color: #ffffff;
	border-top: 2px solid #a9a9a9;
	border-bottom: 2px solid #a9a9a9;
	border-left: 2px solid #c3c3c3;
	border-right: 2px solid #c3c3c3;
	border-radius: 5px;
	padding: 5px;
}

textarea:disabled {
	background-color: #e8e8e8;
}
