/*
	Default styles for top-level UI windows .

	All Windows should be placed on a higher level than the ViewportContainer, but lower than UI Overlays.
	They have a fixed minimum size and expect the contained elements to remain the same size, while displaying as many of them as possible.
*/

.WindowTitle {
	margin-bottom: 20px;
	/* Font settings: TODO Move elsewhere? */
	/* font-weight: 700; */
	font-family: CaptionFont;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
}

.WindowCloseIcon:hover {
	/* TODO use a var to ensure it remains consistent */
	color: #c3c3c3;
}

.WindowCloseIcon:active {
	/* The default color should be restored here */
	/* TODO use a var to ensure it remains consistent */
	color: white;
}

.WindowCloseIcon::after {
	content: "\2716";
	top: 5px;
	right: 10px;
	/* The icon should be anchored to the Window's top-right corner for a standard UX */
	position: absolute;
	font-size: 16pt;
}

.Window {
	padding: 20px;
	/* UI Windows should be centered by default */
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* Visual enhancements */
	/* filter: drop-shadow(0 0 5px #0000007); */
	background: var(--window-background-color);
	color: white;
	/* Allow the content to decide the window's size, as long as it's between min/max dimensions */
	width: fit-content;
	height: fit-content;
	border-radius: 0.37rem;
}

.WindowContent {
	/* Content alignment */
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.WindowStatus {
	margin-top: 20px;
	text-align: center;
}
