#AddonOptionsFrame_InstalledAddonsList {
	/* Any bigger and it will clash with the MinimapFrame */
	max-height: 50vh;
	margin-bottom: 0.5rem;
}

#AddonOptionsFrame_AddonList {
	display: flex;
	flex-direction: column;
}
