/*
	Default style for message frames.

	They are displayed as a non-modal popup when certain messages or errors have to be shown by the WebClient.
*/

#SystemMessagesFrame {
	position: fixed;
	border: 2px solid #c3c3c3;
	background-color: #ffffff;
	max-width: 40vw;
	flex-direction: column;
	border-radius: 4px;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: 100;
}

#SystemMessagesFrameTitleBar {
	font-family: arial;
	color: #303b51;
	font-weight: bold;
	font-size: 8pt;
	padding: 2px;
	opacity: 0.8;
	justify-content: center;
	border-bottom: 1px solid #c3c3c3;
	background-image: repeating-linear-gradient(
		#8294c8,
		#b3c1dd,
		#afbedd,
		#cad4e9,
		#b1c4e7,
		#b7c6e8,
		#9eb6e4,
		#b8caf1,
		#9eb6e4,
		#b8caf1,
		#afc4f0,
		#cadffb,
		#bed8f2,
		#dcf1fd,
		#c5def3,
		#d2eafc
	);
	background-image: repeating-linear-gradient(
		#8294c8,
		#b3c1dd,
		#afbedd 10%,
		#b7c6e8,
		#9eb6e4 10%,
		#b8caf1,
		#9eb6e4,
		#b8caf1,
		#afc4f0,
		#cadffb,
		#bed8f2,
		#dcf1fd,
		#c5def3,
		#d2eafc
	);
	background-image: repeating-linear-gradient(
		#8294c8,
		#b3c1dd,
		#b8caf1,
		#afc4f0,
		#c5def3,
		#d2eafc
	);
	text-align: center;
}

#SystemMessagesFrameContentPane {
	font-family: arial;
	color: #303b51;
	min-height: 3vh;
	max-height: 25vh;
	padding: 15px;
	font-size: 10pt;
	opacity: 0.8;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#SystemMessagesFrameFooter {
	background-color: #f2f2f2;
	min-height: 2vh;
	max-height: 5vh;
	border-top: 1px solid #c3c3c3;
	bottom: 0;
	text-align: center;
	padding: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#SystemMessagesFrameButton {
	width: auto;
	min-width: 5vw;
	font-size: 8pt;
	font-weight: bold;
}
