# Electron/NodeJS stuff
node_modules/
dist/

# These are intended for user scripts/game data
Assets/
Interface/Addons/

# Debug output shouldn't be saved
Exports/

# These caches are managed by the Client
addon-cache.json
macro-cache.json
bindings-cache.json
layout-cache.json

# Temporary files that may or may not exist
*.log
