/*
	Default styles for fonts used by the WebClient.

	We want to be able to globally swap the UI fonts, so any changes should be made here rather than hardcoding them.
*/

@font-face {
	font-family: GameFont;
	src: url("../Fonts/Raleway.ttf");
}

@font-face {
	font-family: BoldFont;
	src: url("../Fonts/Poppins-Bold.ttf");
}

@font-face {
	font-family: TitleFont;
	src: url("../Fonts/Sword.otf");
}

@font-face {
	font-family: ScriptFont;
	src: url("../Fonts/DejaVuSans.ttf");
}

@font-face {
	font-family: CaptionFont;
	src: url("../Fonts/Poppins-Regular.ttf");
}
