/*
	Loader for the default UI frames.

	These are overrides for individual UI elements, which serve to add minor modifications that aren't suitably covered by the widget templates themselves.
*/

@import "Overrides/AddonOptionsFrame.css";
@import "Overrides/GameMenuFrame.css";
@import "Overrides/FpsCounterFrame.css";
@import "Overrides/SystemMessagesFrame.css";
@import "Overrides/UIParent.css";
@import "Overrides/ViewportContainer.css";
@import "Overrides/WorldFrame.css";
